---
name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Check out code
        uses: actions/checkout@v6
        with:
          ref: ${{github.event.pull_request.head.sha}}

      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
